.heading {
  display: inline-block;
  /* Required for animation */
  transition: transform 1s ease;
  /* Smooth transition */
}

.heading.animate {
  transform: translateX(100%);
  /* Move to the right */
}

/* Optional: Reset the position on load */
nav {
  overflow: hidden;
  /* Prevent overflow while animating */
}

.cursiv-font {
  font-family: "Satisfy", cursive;
  font-weight: 400;

  color: white;
}

.glow {
  text-shadow:
  0 0 5px #00ccff, 0 0 10px #057693, 0 0 15px #5c5c5c, 0 0 20px #00bfff, 0 0 30px #00bfff, 0 0 40px #006e93, 0 0 50px #87969b ;
}

.neon {
  animation: neon-flicker 1.5s infinite alternate;
}

@keyframes neon-flicker {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0.8;
  }
}

.glow img {
  transition: all 0.3s ease;
  filter: drop-shadow(0 0 5px #00ccff) drop-shadow(0 0 10px #00ccff) drop-shadow(0 0 15px #00ccff);
}



.animated-text {

  font-family: 'Arial', sans-serif;
  font-size: 1.3rem;
  color: #fff;
  text-align: center;
  animation: rainbow-text 5s infinite;
  background: linear-gradient(90deg, #ff00cc, #3333ff, #00ffcc, #ffcc00);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 3px;
}

/* Keyframe for the rainbow effect */
@keyframes rainbow-text {
  0% {
    background-position: 0%;
  }
  25% {
    background-position: 25%;
  }
  50% {
    background-position: 50%;
  }
  75% {
    background-position: 75%;
  }
  100% {
    background-position: 100%;
  }
}



.animate-fadeIn {
  opacity: 1 !important;
  transform: translateY(0);
}

/* Optional: Add a transform for smooth transition */
.project-item {
  transition: opacity 0.7s ease, transform 0.7s ease;
  transform: translateY(30px);
  opacity: 0;
}

.animate-fadeIn {
  opacity: 1 !important;
  transform: translateY(0);
}
